<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit_SP</title>
    <meta charset="utf-8">
</head>
<body>
<div align="center">
    <form  method="post" enctype="multipart/form-data">
        <h1>Edit Products</h1>
        <table>
            <tr>
                <td>Nhập id</td>
                <td><input name="id" placeholder="Nhập id" th:value="${product.id}" readonly></td>
            </tr>
            <tr>
                <td>Nhập tên</td>
                <td><input name="name" placeholder="Nhập tên" th:value="${product.name}"></td>
            </tr>
            <tr>
                <td>Nhập đường dẫn ảnh</td>
                <td><input name="uppImg" type="file"   ></td>
            </tr>
            <tr>
                <td>Nhập Giá</td>
                <td><input name="price" placeholder="Nhập price" th:value="${product.price}"></td>
            </tr>

        </table>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>